body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to left, gray, #454545);
}

.tablica {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

.btn-bg {
  top: 15%;
}

.bid,
.challenge {
  position: absolute;
  top: 93%;
}

.bid {
  top: 75%;
}

.challenge {
  left: 32%;
}

.board {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.dice-container {
  position: relative;
  display: flex;
  top: -121%;
  left: 10%;
  width: 41rem;
  height: 27rem;
  justify-content: center;
  grid-auto-flow: column;
}


.App {
  text-align: center;
}

.die {
  position: relative;
  display: grid;
  width: 50px;
  height: 50px;
  margin: 0.1rem;
  top: 10rem;
  background-color: salmon;
  border: 2px solid #333;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: all 0.3s ease;
}

.die:hover {
  background-color: sandybrown;
}

td {
  position: relative;
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  border: 1px solid black;
  background-color: sandybrown;

}

.empty {
  opacity: 0;
  border: 0px;
  background-color: salmon;
}

.star {
  background-color: crimson;
  text-align: center;

}

img {
  width: 5rem;
  height: 5rem;

}

p {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

img[src="pawn.png"] {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}